<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td><a href="/">Home</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/housing">Housing</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/food">Food</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/sports">Sports</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/activities">Activities</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/family-night">Family-Night</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/gallery">Gallery</a>&nbsp;</td>
        <td>
            <div class="dropdown">
                <button class="dropdown-button">FRQs</button>
                <div class="dropdown-options">
                    <a href="/frq1">FRQ #1</a>
                    <a href="frq2">FRQ #2</a>
                    <a href="frq3">FRQ #3</a>
                    <a href="frq4">FRQ #4</a>
                </div>
            </div>
        </td>
    </tr>
</table>
