<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td><a href="/Tri2TeamProject">Home</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/housing">Housing</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/food">Food</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/sports">Sports</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/activities">Activities</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/family-night">Family-Night</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="/Tri2TeamProject/gallery">Gallery</a>&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
